<!DOCTYPE html>
<html>
<div class="table-responsive" style="box-shadow: 3px 8px 10px #607080; background-color:#fff; margin:25px 25px 25px">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 px-md-4" style="background-color: #fff; padding: 10px; border-bottom: 1px solid #cdcd;">
        <h4 style="color:#607080">Empleados Registrados</h4>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nuevoEmpleado"><i class="fa fa-plus"></i> Nuevo</button>
    </div>


    <div class="table-responsive px-md-4">

        <table id="ListaEmpleado" class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">DNI</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Designación</th>
                    <th scope="col">Sueldo</th>
                    <th scope="col">Domicilio</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Fecha Inicio Contrato</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <tr *ngFor="let emplo of Employee;  let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{emplo.DNI}}</td>
                        <td>{{emplo.NOMBRES}}</td>
                        <td>{{emplo.APELLIDOS}}</td>
                        <td>{{emplo.DESIGNACION}}</td>
                        <td>{{emplo.SUELDO}}</td>
                        <td>{{emplo.DIRECCION}}</td>
                        <td>{{emplo.CONTACTO}}</td>
                        <td>{{emplo.FEC_INICIO | date:"dd/MM/yyyy"}}</td>
                        <td>{{emplo.FEC_INGRESO | date:"dd/MM/yyyy:hh:mm:ss"}} </td>

                        <td><button type="button" class="btn btn-primary" style="margin-right: 15px;" data-bs-toggle="modal" data-bs-target="#modalEditarEmpleado" (click)="EditarEmpleado(emplo.COD_EMPLEADO)"><i class="fa fa-edit"></i></button>

                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" (click)="eliminarEmpleado(emplo.COD_EMPLEADO, i)"><i class="fa fa-trash-alt"></i></button></td>


                    </tr>

            </tbody>
        </table>
    </div>
    <button class="btn btn-primary btn-block" (click)="download()">Ver Reporte <i class="fa fa-file"></i></button>

    <!---Aqui la modal para actualizar EMPLEADO-->
    <div class="modal fade" id="modalEditarEmpleado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ACTUALIZAR INFORMACIÓN</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-6">
                        <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">

                            <div class="form-group">
                                <label>DNI</label>
                                <input class="form-control" type="text" formControlName="DNI" [ngClass]="{ 'is-invalid': submitted && f['DNI'].errors }" required>
                                <div *ngIf="submitted && f['DNI'].errors" class="invalid-feedback">
                                    <div *ngIf="f['DNI'].errors['required']">Complete este campo</div>
                                    <div *ngIf="f['DNI'].errors['minlength']">Minimo de caracteres 4 </div>
                                    <div *ngIf="f['DNI'].errors['maxlength']">Maximo de caracteres 20</div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label>Nombres</label>
                                <input class="form-control" type="text" formControlName="NOMBRES" [ngClass]="{ 'is-invalid': submitted && f['NOMBRES'].errors }" required>
                                <div *ngIf="submitted && f['NOMBRES'].errors" class="invalid-feedback">
                                    <div *ngIf="f['NOMBRES'].errors['required']">Complete este campo</div>
                                    <div *ngIf="f['NOMBRES'].errors['minlength']">Minimo de caracteres 3 </div>
                                    <div *ngIf="f['NOMBRES'].errors['maxlength']">Maximo de caracteres 100</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Apellidos</label>
                                <input class="form-control" type="textarea" formControlName="APELLIDOS" [ngClass]="{ 'is-invalid': submitted && f['APELLIDOS'].errors }" required>
                                <div *ngIf="submitted && f['APELLIDOS'].errors" class="invalid-feedback">
                                    <div *ngIf="f['APELLIDOS'].errors['required']">Complete este campo</div>
                                    <div *ngIf="f['APELLIDOS'].errors['minlength']">Minimo de caracteres 4 </div>
                                    <div *ngIf="f['APELLIDOS'].errors['maxlength']">Maximo de caracteres 100</div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label>Designación</label>
                                <input class="form-control" formControlName="DESIGNACION" [ngClass]="{ 'is-invalid': submitted && f['DESIGNACION'].errors }" required>
                                <div *ngIf="submitted && f['DESIGNACION'].errors" class="invalid-feedback">
                                    <div *ngIf="f['DESIGNACION'].errors['required']">Complete este campo</div>
                                    <div *ngIf="f['DESIGNACION'].errors['minlength']">Minimo de caracteres 4 </div>
                                    <div *ngIf="f['DESIGNACION'].errors['maxlength']">Maximo de caracteres 100</div>
                                </div>


                            </div>

                            <div class="form-group">
                                <label>Sueldo</label>
                                <input class="form-control" type="textarea" formControlName="SUELDO" [ngClass]="{ 'is-invalid': submitted && f['SUELDO'].errors }" required>
                                <div *ngIf="submitted && f['SUELDO'].errors" class="invalid-feedback">
                                    <div *ngIf="f['SUELDO'].errors['required']">Complete este campo</div>
                                    <div *ngIf="f['SUELDO'].errors['minlength']">Minimo de caracteres 3 </div>
                                    <div *ngIf="f['SUELDO'].errors['maxlength']">Maximo de caracteres 100</div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label>Domicilio</label>
                                <textarea class="form-control" type="textarea" formControlName="DIRECCION" [ngClass]="{ 'is-invalid': submitted && f['DIRECCION'].errors }" required> </textarea>
                                <div *ngIf="submitted && f['DIRECCION'].errors" class="invalid-feedback">
                                    <div *ngIf="f['DIRECCION'].errors['required']">Complete este campo</div>
                                    <div *ngIf="f['DIRECCION'].errors['minlength']">Minimo de caracteres 6 </div>
                                    <div *ngIf="f['DIRECCION'].errors['maxlength']">Maximo de caracteres 100</div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label>Teléfono</label>
                                <input class="form-control" type="textarea" formControlName="CONTACTO" [ngClass]="{ 'is-invalid': submitted && f['CONTACTO'].errors }" required>
                                <div *ngIf="submitted && f['CONTACTO'].errors" class="invalid-feedback">
                                    <div *ngIf="f['CONTACTO'].errors['required']">Complete este campo</div>
                                    <div *ngIf="f['CONTACTO'].errors['minlength']">Minimo de caracteres 6 </div>
                                    <div *ngIf="f['CONTACTO'].errors['maxlength']">Maximo de caracteres 100</div>

                                </div>

                            </div>


                            <div class="form-group">
                                <label>Fecha Inicio de Contrato</label>
                                <input class="form-control" type="date" formControlName="FEC_INICIO" [ngClass]="{ 'is-invalid': submitted && f['FEC_INICIO'].errors }" required>
                                <div *ngIf="submitted && f['FEC_INICIO'].errors" class="invalid-feedback">
                                    <div *ngIf="f['FEC_INICIO'].errors['required']">Complete este campo</div>

                                </div>
                            </div>

                            <br>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-check"></i> Editar</button>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> <i class="fas fa-times"></i> Cancelar</button>

                </div>
            </div>
        </div>

    </div>

    <!---Aqui la modal para Insertar Nuevo Empleado-->

    <div class="modal fade" id="nuevoEmpleado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">AGREGAR NUEVO</h5>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="modal-body">
                    <div class="row justify-content mt-1">
                        <div class="col-md-6">
                            <form [formGroup]="createForm" (ngSubmit)="nuevoEmpleado()">
                                <div class="form-group">
                                    <label>DNI</label>
                                    <input class="form-control" type="textarea" formControlName="DNI" [ngClass]="{ 'is-invalid': submitted && fu['DNI'].errors }" required>
                                    <div *ngIf="submitted && fu['DNI'].errors" class="invalid-feedback">
                                        <div *ngIf="fu['DNI'].errors['required']">Complete este campo</div>
                                        <div *ngIf="fu['DNI'].errors['minlength']">Minimo de caracteres 6 </div>
                                        <div *ngIf="fu['DNI'].errors['maxlength']">Maximo de caracteres 100</div>


                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Ambos Nombres</label>
                                    <input class="form-control" type="textarea" formControlName="NOMBRES" [ngClass]="{ 'is-invalid': submitted && fu['NOMBRES'].errors }" required>

                                    <div *ngIf="submitted && fu['NOMBRES'].errors" class="invalid-feedback">
                                        <div *ngIf="fu['NOMBRES'].errors['required']">Complete este campo</div>
                                        <div *ngIf="fu['NOMBRES'].errors['minlength']">Minimo de caracteres 3 </div>
                                        <div *ngIf="fu['NOMBRES'].errors['maxlength']">Maximo de caracteres 100</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Ambos Apellidos</label>
                                    <input class="form-control" type="textarea" formControlName="APELLIDOS" [ngClass]="{ 'is-invalid': submitted && fu['APELLIDOS'].errors }" required>
                                    <div *ngIf="submitted && fu['APELLIDOS'].errors" class="invalid-feedback">
                                        <div *ngIf="fu['APELLIDOS'].errors['required']">Complete este campo</div>
                                        <div *ngIf="fu['APELLIDOS'].errors['minlength']">Minimo de caracteres 4 </div>
                                        <div *ngIf="fu['APELLIDOS'].errors['maxlength']">Maximo de caracteres 100</div>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label>Designación</label>
                                    <input class="form-control" type="textarea" formControlName="DESIGNACION" [ngClass]="{ 'is-invalid': submitted && fu['DESIGNACION'].errors }" required>
                                    <div *ngIf="submitted && fu['DESIGNACION'].errors" class="invalid-feedback">
                                        <div *ngIf="fu['DESIGNACION'].errors['required']">Complete este campo</div>
                                        <div *ngIf="fu['DESIGNACION'].errors['minlength']">Minimo de caracteres 3 </div>
                                        <div *ngIf="fu['DESIGNACION'].errors['maxlength']">Maximo de caracteres 100</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Sueldo</label>
                                    <input class="form-control" type="textarea" formControlName="SUELDO" [ngClass]="{ 'is-invalid': submitted && fu['SUELDO'].errors }" required>
                                    <div *ngIf="submitted && fu['SUELDO'].errors" class="invalid-feedback">
                                        <div *ngIf="fu['SUELDO'].errors['required']">Complete este campo</div>
                                        <div *ngIf="fu['SUELDO'].errors['minlength']">Minimo de caracteres 3 </div>
                                        <div *ngIf="fu['SUELDO'].errors['maxlength']">Maximo de caracteres 100</div>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label>Domicilio</label>
                                    <textarea class="form-control" type="textarea" formControlName="DIRECCION" [ngClass]="{ 'is-invalid': submitted && fu['DIRECCION'].errors }" required> </textarea>
                                    <div *ngIf="submitted && fu['DIRECCION'].errors" class="invalid-feedback">
                                        <div *ngIf="fu['DIRECCION'].errors['required']">Complete este campo</div>
                                        <div *ngIf="fu['DIRECCION'].errors['minlength']">Minimo de caracteres 6 </div>
                                        <div *ngIf="fu['DIRECCION'].errors['maxlength']">Maximo de caracteres 100</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Teléfono</label>
                                    <input class="form-control" type="textarea" formControlName="CONTACTO" [ngClass]="{ 'is-invalid': submitted && fu['CONTACTO'].errors }" required>
                                    <div *ngIf="submitted && fu['CONTACTO'].errors" class="invalid-feedback">
                                        <div *ngIf="fu['CONTACTO'].errors['required']">Complete este campo</div>
                                        <div *ngIf="fu['CONTACTO'].errors['minlength']">Minimo de caracteres 6 </div>
                                        <div *ngIf="fu['CONTACTO'].errors['maxlength']">Maximo de caracteres 100</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Fecha Inicio de Contrato</label>
                                    <input class="form-control" type="date" formControlName="FEC_INICIO" [ngClass]="{ 'is-invalid': submitted && fu['FEC_INICIO'].errors }" required>
                                    <div *ngIf="submitted && fu['FEC_INICIO'].errors" class="invalid-feedback">
                                        <div *ngIf="fu['FEC_INICIO'].errors['required']">Complete este campo</div>

                                    </div>
                                </div>
                                <br>


                                <div class="form-group">
                                    <button class="btn btn-success btn-block" type="submit"><i class="fa fa-save"></i> Guardar</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" (click)="onReset()" class="btn btn-danger" data-bs-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>
                </div>
            </div>
        </div>
    </div>







</div>

</html>
