

         <form [formGroup]="updateForm" (ngSubmit)= "onUpdate()" >
          <!--<div class="form-group">
            <label>COD</label>
            <input class="form-control" type="number" formControlName="cod_tip_producto" required>
          </div>-->

          <div class="form-group">
            <label>TIPO</label>
            <input class="form-control" type="text" formControlName="tip_producto" required>
          </div>
  
           
          <div class="form-group">
            <label>DESCRIPCION</label>
            <input class="form-control" type="textarea" formControlName="des_tip_producto" required>
          </div>
<br>
         <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Editar</button>
          </div>
        </form>

      
    