<!DOCTYPE html>

<html>
<div class="table-responsive" style="box-shadow: 3px 8px 10px #607080; background-color:#fff; margin:25px 25px 25px">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 px-md-4" style="background-color: #fff; padding: 10px; border-bottom: 1px solid #cdcd;">
        <h4 style="color:#607080">Clientes Registrados</h4>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nuevoPersona"><i class="fa fa-plus"></i> Nuevo</button>
    </div>


    <div class="table-responsive px-md-4">

        <table id="ListaPersona" style="margin:8px" class="table table-striped table-sm">
            <thead>

                <tr>
                    <td class="text-center"></td>
                    <th scope="col">Código</th>
                    <th scope="col">DNI</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Estado Civil</th>
                    <th scope="col">Domicilio</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <tr *ngFor="let peo of Perso; let i=index">
                        <td class="text-center"></td>
                        <th scope="row">{{i+1}}</th>
                        <td>{{peo.DNI}}</td>
                        <td>{{peo.NOMBRES}}</td>
                        <td>{{peo.APELLIDOS}}</td>
                        <td>{{peo.EDAD}}</td>
                        <td>{{peo.SEXO}}</td>
                        <td>{{peo.ESTADOCIVIL}}</td>
                        <td>{{peo.DIRECCION}}</td>
                        <td>{{peo.TELEFONO}}</td>
                        <td>{{peo.CORREO}}</td>
                        <td>{{peo.DESCRIPCION}}</td>
                        <td>{{peo.FEC_INGRESO | date:"dd/MM/yyyy:hh:mm:ss"}}</td>


                        <td><button type="button" class="btn btn-primary" style="margin-right: 15px;" data-bs-toggle="modal" data-bs-target="#modalEditarPersona" (click)="EditarPersona(peo.COD_PERSONA)"><i class="fa fa-edit"></i></button>

                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" (click)="eliminarPersona(peo.COD_PERSONA, i)"><i class="fa fa-trash-alt"></i></button></td>
                    </tr>

            </tbody>
        </table>
    </div>
    <button class="btn btn-primary btn-block" (click)="download()">Ver Reporte <i class="fa fa-file"></i></button>
    <!---Aqui la modal para actualizar PERSONA-->
    <div class="modal fade" id="modalEditarPersona" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ACTUALIZAR INFORMACIÓN</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="modal-body">
                    <div class="text">
                        <div class="col-md-6">
                            <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">

                                <div class="form-group first-box">
                                    <label>DNI</label>
                                    <input class="form-control" type="text" formControlName="DNI" [ngClass]="{ 'is-invalid': submitted && f['DNI'].errors }" required>
                                    <div *ngIf="submitted && f['DNI'].errors" class="invalid-feedback">
                                        <div *ngIf="f['DNI'].errors['required']">Complete este campo</div>
                                        <div *ngIf="f['DNI'].errors['minlength']">Minimo de caracteres 4 </div>
                                        <div *ngIf="f['DNI'].errors['maxlength']">Maximo de caracteres 20</div>
                                    </div>
                                </div>


                                <div class="form-group second-box">
                                    <label>Nombres</label>
                                    <input class="form-control" type="textarea" formControlName="NOMBRES" [ngClass]="{ 'is-invalid': submitted && f['NOMBRES'].errors }" required>
                                    <div *ngIf="submitted && f['NOMBRES'].errors" class="invalid-feedback">
                                        <div *ngIf="f['NOMBRES'].errors['required']">Complete este campo</div>
                                        <div *ngIf="f['NOMBRES'].errors['minlength']">Minimo de caracteres 3 </div>
                                        <div *ngIf="f['NOMBRES'].errors['maxlength']">Maximo de caracteres 100</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Apellidos</label>
                                    <input class="form-control" type="textarea" formControlName="APELLIDOS" [ngClass]="{ 'is-invalid': submitted && f['APELLIDOS'].errors }" required>
                                    <div *ngIf="submitted && f['APELLIDOS'].errors" class="invalid-feedback">
                                        <div *ngIf="f['APELLIDOS'].errors['required']">Complete este campo</div>
                                        <div *ngIf="f['APELLIDOS'].errors['minlength']">Minimo de caracteres 4 </div>
                                        <div *ngIf="f['APELLIDOS'].errors['maxlength']">Maximo de caracteres 100</div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Edad</label>
                                    <input class="form-control" type="textarea" formControlName="EDAD" [ngClass]="{ 'is-invalid': submitted && f['EDAD'].errors }" required>
                                    <div *ngIf="submitted && f['EDAD'].errors" class="invalid-feedback">
                                        <div *ngIf="f['EDAD'].errors['required']">Complete este campo</div>
                                        <div *ngIf="f['EDAD'].errors['minlength']">Minimo de caracteres 1 </div>
                                        <div *ngIf="f['EDAD'].errors['maxlength']">Maximo de caracteres 100</div>

                                    </div>

                                </div>

                                <div class="form-group">
                                    <label>Sexo</label>
                                    <input class="form-control" type="textarea" formControlName="SEXO" [ngClass]="{ 'is-invalid': submitted && f['SEXO'].errors }" required>
                                    <div *ngIf="submitted && f['SEXO'].errors" class="invalid-feedback">
                                        <div *ngIf="f['SEXO'].errors['required']">Complete este campo</div>
                                        <div *ngIf="f['SEXO'].errors['minlength']">Minimo de caracteres 1 </div>
                                        <div *ngIf="f['SEXO'].errors['maxlength']">Maximo de caracteres 100</div>


                                    </div>

                                </div>

                                <div class="form-group">
                                    <label>Estado Civil</label>
                                    <input class="form-control" type="textarea" formControlName="ESTADOCIVIL" [ngClass]="{ 'is-invalid': submitted && f['ESTADOCIVIL'].errors }" required>
                                    <div *ngIf="submitted && f['ESTADOCIVIL'].errors" class="invalid-feedback">
                                        <div *ngIf="f['ESTADOCIVIL'].errors['required']">Complete este campo</div>
                                        <div *ngIf="f['ESTADOCIVIL'].errors['minlength']">Minimo de caracteres 1 </div>
                                        <div *ngIf="f['ESTADOCIVIL'].errors['maxlength']">Maximo de caracteres 100</div>


                                    </div>

                                </div>


                                <div class="form-group">
                                    <label>Domicilio</label>
                                    <textarea class="form-control" type="textarea" formControlName="DIRECCION" [ngClass]="{ 'is-invalid': submitted && f['DIRECCION'].errors }" required> </textarea>
                                    <div *ngIf="submitted && f['DIRECCION'].errors" class="invalid-feedback">
                                        <div *ngIf="f['DIRECCION'].errors['required']">Complete este campo</div>
                                        <div *ngIf="f['DIRECCION'].errors['minlength']">Minimo de caracteres 6 </div>
                                        <div *ngIf="f['DIRECCION'].errors['maxlength']">Maximo de caracteres 100</div>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label>Teléfono</label>
                                    <input class="form-control" type="textarea" formControlName="TELEFONO" [ngClass]="{ 'is-invalid': submitted && f['TELEFONO'].errors }" required>
                                    <div *ngIf="submitted && f['TELEFONO'].errors" class="invalid-feedback">
                                        <div *ngIf="f['TELEFONO'].errors['required']">Complete este campo</div>
                                        <div *ngIf="f['TELEFONO'].errors['minlength']">Minimo de caracteres 6 </div>
                                        <div *ngIf="f['TELEFONO'].errors['maxlength']">Maximo de caracteres 100</div>

                                    </div>


                                </div>

                                <div class="form-group">
                                    <label>Correo</label>
                                    <input class="form-control" type="textarea" formControlName="CORREO" [ngClass]="{ 'is-invalid': submitted && f['CORREO'].errors }" required>
                                    <div *ngIf="submitted && f['CORREO'].errors" class="invalid-feedback">
                                        <div *ngIf="f['CORREO'].errors['required']">Complete este campo</div>
                                        <div *ngIf="f['CORREO'].errors['minlength']">Minimo de caracteres 4 </div>
                                        <div *ngIf="f['CORREO'].errors['maxlength']">Maximo de caracteres 100</div>

                                    </div>

                                </div>


                                <div class="form-group">
                                    <label>Descripción</label>
                                    <input class="form-control" type="textarea" formControlName="DESCRIPCION" [ngClass]="{ 'is-invalid': submitted && f['DESCRIPCION'].errors }" required>
                                    <div *ngIf="submitted && f['DESCRIPCION'].errors" class="invalid-feedback">
                                        <div *ngIf="f['DESCRIPCION'].errors['required']">Complete este campo</div>
                                        <div *ngIf="f['DESCRIPCION'].errors['minlength']">Minimo de caracteres 3 </div>
                                        <div *ngIf="f['DESCRIPCION'].errors['maxlength']">Maximo de caracteres 100</div>

                                    </div>

                                </div>



                                <br>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-check"></i> Editar </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"> <i class="fas fa-times"></i> Cancelar</button>

                </div>
            </div>
        </div>

    </div>
    <!---Aqui la modal para Insertar Nueva Persona-->

    <div class="modal fade" id="nuevoPersona" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">AGREGAR NUEVO</h5>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="modal-body">
                    <div class="row justify-content mt-1">
                        <div class="col-md-6">

                            <form [formGroup]="createForm" (ngSubmit)="nuevoPersona()">



                                <div class="form-group">
                                    <label>DNI</label>
                                    <input class="form-control" type="textarea" formControlName="DNI" [ngClass]="{ 'is-invalid': submitted && fu['DNI'].errors }" required>
                                    <div *ngIf="submitted && fu['DNI'].errors" class="invalid-feedback">
                                        <div *ngIf="fu['DNI'].errors['required']">Complete este campo</div>
                                        <div *ngIf="fu['DNI'].errors['minlength']">Minimo de caracteres 4 </div>
                                        <div *ngIf="fu['DNI'].errors['maxlength']">Maximo de caracteres 20</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Ambos Nombres</label>
                                    <input class="form-control" type="textarea" formControlName="NOMBRES" [ngClass]="{ 'is-invalid': submitted && fu['NOMBRES'].errors }" required>
                                    <div *ngIf="submitted && fu['NOMBRES'].errors" class="invalid-feedback">
                                        <div *ngIf="fu['NOMBRES'].errors['required']">Complete este campo</div>
                                        <div *ngIf="fu['NOMBRES'].errors['minlength']">Minimo de caracteres 3 </div>
                                        <div *ngIf="fu['NOMBRES'].errors['maxlength']">Maximo de caracteres 100</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Ambos Apellidos</label>
                                    <input class="form-control" type="textarea" formControlName="APELLIDOS" [ngClass]="{ 'is-invalid': submitted && fu['APELLIDOS'].errors }" required>
                                    <div *ngIf="submitted && fu['APELLIDOS'].errors" class="invalid-feedback">
                                        <div *ngIf="fu['APELLIDOS'].errors['required']">Complete este campo</div>
                                        <div *ngIf="fu['APELLIDOS'].errors['minlength']">Minimo de caracteres 4 </div>
                                        <div *ngIf="fu['APELLIDOS'].errors['maxlength']">Maximo de caracteres 100</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Edad</label>
                                    <input class="form-control" type="textarea" formControlName="EDAD" [ngClass]="{ 'is-invalid': submitted && fu['EDAD'].errors }" required>
                                    <div *ngIf="submitted && fu['EDAD'].errors" class="invalid-feedback">
                                        <div *ngIf="fu['EDAD'].errors['required']">Complete este campo</div>
                                        <div *ngIf="fu['EDAD'].errors['minlength']">Minimo de caracteres 1 </div>
                                        <div *ngIf="fu['EDAD'].errors['maxlength']">Maximo de caracteres 100</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Sexo</label>
                                    <input class="form-control" type="textarea" formControlName="SEXO" [ngClass]="{ 'is-invalid': submitted && fu['SEXO'].errors }" required>
                                    <div *ngIf="submitted && fu['SEXO'].errors" class="invalid-feedback">
                                        <div *ngIf="fu['SEXO'].errors['required']">Complete este campo</div>
                                        <div *ngIf="fu['SEXO'].errors['minlength']">Minimo de caracteres 1 </div>
                                        <div *ngIf="fu['SEXO'].errors['maxlength']">Maximo de caracteres 100</div>

                                    </div>


                                </div>

                                <div class="form-group">
                                    <label>Estado Civil</label>
                                    <input class="form-control" type="textarea" formControlName="ESTADOCIVIL" [ngClass]="{ 'is-invalid': submitted && fu['ESTADOCIVIL'].errors }" required>
                                    <div *ngIf="submitted && fu['ESTADOCIVIL'].errors" class="invalid-feedback">
                                        <div *ngIf="fu['ESTADOCIVIL'].errors['required']">Complete este campo</div>
                                        <div *ngIf="fu['ESTADOCIVIL'].errors['minlength']">Minimo de caracteres 1 </div>
                                        <div *ngIf="fu['ESTADOCIVIL'].errors['maxlength']">Maximo de caracteres 100</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Domicilio</label>
                                    <textarea class="form-control" type="textarea" formControlName="DIRECCION" [ngClass]="{ 'is-invalid': submitted && fu['DIRECCION'].errors }" required> </textarea>
                                    <div *ngIf="submitted && fu['DIRECCION'].errors" class="invalid-feedback">
                                        <div *ngIf="fu['DIRECCION'].errors['required']">Complete este campo</div>
                                        <div *ngIf="fu['DIRECCION'].errors['minlength']">Minimo de caracteres 6 </div>
                                        <div *ngIf="fu['DIRECCION'].errors['maxlength']">Maximo de caracteres 100</div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Teléfono</label>
                                    <input class="form-control" type="textarea" formControlName="TELEFONO" [ngClass]="{ 'is-invalid': submitted && fu['TELEFONO'].errors }" required>
                                    <div *ngIf="submitted && fu['TELEFONO'].errors" class="invalid-feedback">
                                        <div *ngIf="fu['TELEFONO'].errors['required']">Complete este campo</div>
                                        <div *ngIf="fu['TELEFONO'].errors['minlength']">Minimo de caracteres 6 </div>
                                        <div *ngIf="fu['TELEFONO'].errors['maxlength']">Maximo de caracteres 100</div>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label>Correo</label>
                                    <input class="form-control" type="textarea" formControlName="CORREO" [ngClass]="{ 'is-invalid': submitted && fu['CORREO'].errors }" required>
                                    <div *ngIf="submitted && fu['CORREO'].errors" class="invalid-feedback">
                                        <div *ngIf="fu['CORREO'].errors['required']">Complete este campo</div>
                                        <div *ngIf="fu['CORREO'].errors['minlength']">Minimo de caracteres 4 </div>
                                        <div *ngIf="fu['CORREO'].errors['maxlength']">Maximo de caracteres 100</div>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label>Descripción</label>
                                    <input class="form-control" type="textarea" formControlName="DESCRIPCION" [ngClass]="{ 'is-invalid': submitted && fu['DESCRIPCION'].errors }" required>
                                    <div *ngIf="submitted && fu['DESCRIPCION'].errors" class="invalid-feedback">
                                        <div *ngIf="fu['DESCRIPCION'].errors['required']">Complete este campo</div>
                                        <div *ngIf="fu['DESCRIPCION'].errors['minlength']">Minimo de caracteres 3 </div>
                                        <div *ngIf="fu['DESCRIPCION'].errors['maxlength']">Maximo de caracteres 100</div>
                                    </div>

                                </div>
                                <br>

                                <div class="form-group">
                                    <button class="btn btn-success btn-block" type="submit"><i class="fa fa-save"></i> Guardar</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" (click)="onReset()" class="btn btn-danger btn-block" data-bs-dismiss="modal"><i class="fas fa-times"></i> Cancelar</button>
                </div>
            </div>
        </div>
    </div>

</div>
